<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>My name is Srikanth Gurram, I am an Engineer. I am passionate about the new Technologies. Though I am a QA Engineer by profession, I am also a good programmer. Lot of this to be updated here.. I will do it soon</p>
            </div>
            <div class="col-lg-4">
                <p>I developed this site Ruby on Rails</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <a href="#" class="btn btn-lg btn-outline"> -->
                    <!-- <i class="fa fa-download"></i> Download Theme -->
                <!-- </a> -->
            </div>
        </div>
    </div>
</section>